.main_content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: scroll;
}
.main_content > section {
    width: 100%;
}
.main_content h2 {
    font-family: var(--font-headings);
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 2px;
}



/* THUMBNAIL SECTION */
.thumbnail_section {
    height: 60%;
}

.thumbnail_wrapper {
    background: var(--electric-sapphire);
    aspect-ratio: 16/9;
    margin: 20px auto 10px auto;
    height: 90%;
    box-sizing: border-box;
 
    border-radius: 20px;

    position: relative;

    text-align: center;

    display: flex;
    align-items: center; justify-content: center;
}
.thumbnail_preview_active {

    background: rgba(0, 0, 0, 0.5);
}
.thumbnail_wrapper > * {

    color: white;
    margin: 10px 0;
}
.dropzone_instructions {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;

}


.dragged_over {
    border: dashed var(--amber-yellow) 3px;
    transform: scale(1.05);
}
.dragged_over.thumbnail_chosen {filter: brightness(0.5);}

.thumbnail_chosen {
    box-shadow: 0px 0px 20px 5px var(--electric-sapphire);
}


.thumbnail_wrapper .preview_thumbnail {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    z-index: 10;
    border-radius: inherit;

    pointer-events: none;
}

/* TITLE SECTION */
.title_section {
    position: relative;

    height: 30%;
    width: 100%;
    

    padding: 10px;

}

.title_input_group {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;  /* Add this */
    align-items: center;
}
.title_section input {
    width: 80%;
    height: 50%;
    box-sizing: border-box;

    font-size: 1.7em;
    font-family: var(--font-default);
    padding: 10px;

    border-radius: 10px;
    border: solid black 2px;
    outline: none;

    background: var(--amber-yellow);
    color: black;
}
.title_section input:focus {
    border: solid var(--electric-sapphire) 2px;
    box-shadow: 0px 0px 20px 5px var(--electric-sapphire);
}

.characterLength {
    min-width: 2ch;
    text-align: center;

    margin: auto 0;
    font-size: 2.5em;
    font-family: var(--font-headings);
    font-weight: bold;
}
.title_status_message {
    margin-top: 10px;
    margin-left: 6%;
    text-align: left;
    font-size: 1.3em;
}


/* TITLE SUGGESTIONS */
.title_suggestions_section {
    opacity: 0;
    transform:translateY(-5px);

    display: block;
    background: var(--off-white);

    position: fixed;
    top: 84%;
    left: -3.5%;
    width: 78%;

    margin-left: 10%;
    height: fit-content;
    max-height: 150px;
    overflow-y: auto;

    z-index: 1000;
    
    text-align: left;

    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
}
.visible {
    transform: translateY(0px);
    opacity: 1;
}
.title_suggestions_section p {
    width: fit-content;
    margin: 1px;
    padding: 5px;
    font-family : var(--font-default);
    font-size: 1.5em;
}

.title_suggestions_section p:hover {
    background: var(--alabaster);
    cursor: pointer;
    transform: translateX(5px);
}

/* EXIT BUTTON */
.confirm_button {
    width: fit-content;

    font-size: 1.6em;
    border: none; outline: none;
    border-radius: 10px;

    padding: 5px;
    position: absolute;
    right: 40px;
    top: 90%;

    display: flex;
    gap: 10px;

    padding: 10px 20px;

    background: var(--electric-sapphire);

}
.confirm_button:active {
    transform: scale(0.95);
}
.confirm_button:hover {
    cursor: pointer;

    transform: translateX(2px);
}
.confirm_button > * {
    margin: auto auto;
    color: var(--off-white);
    font-weight: bold;
    font-size: 1.2em;

    pointer-events: none;
    
}
.confirm_button img {
    width: 1em;
}
.confirm_button img.submit_hovered {
    transform: translateX(5px);
}

/* WARNING MESSAGES */ 
.warning {
    color: red;
    font-weight: bold;
}
.caution {
    color: orange;
    font-weight: bold;
}
.safe {
    font-weight: bold;
    color: rgb(0, 181, 0);
}