.popupContainer * {transition: all 0.2s ease;}

.popupContainer {
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%; height: 85%;
    transform: translate(-50%, -50%);

    background: var(--off-white);

    z-index: 999;

    border-radius: 20px;

}

.not_visible {
    display: none;
    transform: translateY(20px);
}

/* HEADER */
.header {
    background: var(--amber-yellow);
    border-radius: 15px;
    font-size: 2.5em;
    width: fit-content;
    margin: 20px auto;

    color: black;
    font-weight: 800;
    font-family: var(--font-headings);
    padding: 20px;
}

