.new_combo_button {
    position: fixed;
    top: 86vh;
    left: 50vw;
    transform: translateX(-50%);

    background-color: var(--electric-sapphire);

    border: none; outline: none;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding: 10px 40px;

    color: white;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 2.2em;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);

    transition: all 0.2s ease;

}
.new_combo_button img {
    width: 1.6em;
}

.new_combo_button:hover {
    cursor: pointer;
    transform: translateX(-50%)  translateY(-10px);
}
.new_combo_button:active {
    transform: translateX(-50%) translateY(-10px) scale(0.95);
}
