.option_label {
    font-family: var(--font-default);
    font-size: 1.5em;
    margin-left: 5px;
}
.option_input {
    transform: translateY(-2px) scale(1.25);
}

.label_wrapper {
    margin: 20px 5px;
    width: fit-content; padding: 2px 10px 2px 5px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.label_wrapper:not(.chosen):hover {
    background: var(--alabaster);
    transform: translateX(5px);
}

.chosen {
    background: var(--electric-sapphire);
    color: white;
}
.chosen:hover {
    transform: translateX(5px);
}

