.whiteboard-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed; top:0;left:0;
    
    background-color: #F8F8F6;

    transition: all 0.2 ease;
}

.whiteboard-wrapper {
    width: 7000px;
    height: 7000px;
    position: relative;

    background-size: auto;
    background-image: url("/src/assets/background_pattern.svg");
    background-repeat: repeat;
}

.whiteboard-wrapper:hover {cursor: grab;}
.whiteboard-wrapper:active {cursor: grabbing};

/* Reset cursor for children */
.whiteboard-wrapper * {cursor: auto};
.whiteboard-wrapper *:hover {cursor: auto;}

/* Mockup container controls */
.mockup-group-container {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    column-gap: 10px;
}
.mockup-group-container > * {
    display: flex;
    gap: 15px;
    flex-direction :column;
    margin: 0 auto;
}
.mockup-group-container * {
    transition: all 0.2s ease;
}



.draggable-item {cursor: auto;}