#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.blur-overlay {
  z-index: 998;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: brightness(50%) blur(5px);

}